@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
}

html{
  scroll-behavior: smooth;
}

.background {
  background-image: url("assets/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
  position: relative;
}
.background .container {
  max-width: 1220px;
  margin: 0 auto;
}
.background header {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 500px;
}
.background .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.background ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.background ul li {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
}
.background ul li a {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.44px;
  text-decoration: none;
}
.background li a:hover {
  color: rgba(148, 255, 127, 0.974);
}
.background .travelling:hover {
  scale: 1.01;
}

.background .hidden_menu{
  display: none;
  max-width: 1220px;
  margin: 0 auto;
  background-color: #FFFFFF;
  position: fixed;
            top: -200px; /* Menyu boshlang‘ich holatda ko‘rinmaydi */
            left: 0;
            right: 0;
            background-color: #f8f9fa;
            border: 1px solid #ddd;
            padding: 20px;
            text-align: center;
            transition: top 0.5s ease; /* Animatsiya */
            z-index: 1000;
}

.background .menu:active .hidden_menu{
  display: block;
  top: 0;

}
.background:active .menu header{
display: none;
}

.background .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.background .background_5 .px_18 {
  width: 470px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
}
.background .buttons button {
  background-color: transparent;
  border: none;
}
.background button:hover {
  cursor: pointer;
}
.background h1 {
  font-size: 120px;
  font-weight: 900;
  line-height: 130px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  width: 620px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 190px;
}
.background .start {
  padding: 15px 40px;
  border-radius: 70px;
  background-color: #DD2242;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
.background .section {
  position: relative;
}
.background .travelling:hover {
  scale: 1.01;
}
.background .red_img, .background .white_im {
  position: absolute;
  left: -230px;
}
.background .red_img {
  top: -5px;
  left: -235px;
}
.background .white_im {
  top: 93px;
  right: -30px;
}
.background .section button:hover {
  background-color: rgba(220, 16, 16, 0.974);
  scale: 1.01;
  transition: all 0.3s ease;
}
.background .number {
  position: absolute;
  left: -235px;
  transform: rotate(-90deg);
}
.background .one {
  color: #DD2242;
  font-size: 16px;
}
.background .px_26 {
  color: #FFFFFF;
  font-size: 26.41px;
  font-weight: 700;
  line-height: 41.08px;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding: 10px 0;
}
.background .px_18 {
  color: #E0E0E0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-align: left;
}
.background .footer_head {
  margin-right: 20px;
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 110px;
  border: 1px solid #000000;
  background-color: rgba(0, 0, 0, 0.6156862745);
}
.background .footer_head .one {
  width: 200px;
  padding: 40px 0;
}
.background .beach {
  position: absolute;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}
.background .days {
  position: absolute;
  left: 100px;
  bottom: 44px;
  overflow: hidden;
}


.background_2 {
  background-image: url("assets/Rectangle.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background_2 section {
  padding-top: 200px;
}
.background_2 .px_42 {
  color: #FFFFFF;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.background_2 .learn {
  padding: 15px 40px;
  background-color: #DD2242;
  border-radius: 32px;
}
.background_2 .learn:hover {
  background-color: rgba(213, 6, 40, 0.8431372549);
  scale: 1.01;
}
.background_2 .ipsum {
  padding: 20px 0;
}
.background_2 .section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-bottom: 192px;
}
.background_2 .second {
  padding-bottom: 300px;
}
.background_2 .px_18 {
  color: #E0E0E0;
}

.background_3 {
  background-image: url("assets/ifan-bima-B04Xpnu5JQ4-unsplash 1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.background_3 .px_50 {
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;
}
.background_3 .explore {
  padding-top: 120px;
  padding-bottom: 44px;
}
.background_3 .article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
.background_3 .nature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.background_3 .loading {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 1600px;
}
.background_3 .start {
  padding: 15px 40px;
  border-radius: 70px;
  background-color: #DD2242;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}

.background_4 {
  background: rgba(2, 12, 33, 0.8352941176);
  position: absolute;
  width: 100%;
  top: 1447px;
}
.background_4 .px_60 {
  padding-top: 100px;
  padding-bottom: 40px;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  text-align: center;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #FFFFFF;
}
.background_4 .dolor {
  width: 480px;
  color: #E0E0E0;
  text-align: center;
  margin: auto;
}
.background_4 .red_num {
  font-size: 42.14px;
  font-weight: 700;
  line-height: 49.16px;
  letter-spacing: 0.3862603307px;
  text-align: center;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #DD2242;
}
.background_4 .px_18 {
  color: #E0E0E0;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.5px;
}
.background_4 .visits {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  padding-bottom: 220px;
}
.background_4 .text {
  width: 300px;
}

.background_5 {
  background-image: url("assets/Mask Group.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background_5 .px_50 {
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.background_5 .hills {
  padding-top: 249px;
  width: 600px;
  margin: auto;
  text-align: center;
}
.background_5 .more {
  margin-bottom: 270px;
}
.background_5 button:hover {
  scale: 1.1;
  background-color: rgba(133, 127, 255, 0.538);
}
.background_5 .start {
  padding: 15px 40px;
  border-radius: 70px;
  background-color: #DD2242;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  border: none;
}

.background_6 {
  background-image: url("assets/hugo-matilla-EFuCATqfblI-unsplash 1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.background_6 .px_42 {
  margin: auto;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  width: 1000px;
  padding-top: 150px;
  color: #FFFFFF;
}
.background_6 .countr_cit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 78px;
  margin-top: 100px;
}
.background_6 .country {
  display: flex;
  align-items: center;
  width: 540px;
  justify-content: center;
  gap: 42px;
}
.background_6 .country .px_18 {
  color: #FFFFFF;
}
.background_6 .country .wei {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
}

.background_7 {
  background-color: #FFFFFF;
}
.background_7 .px_60 {
  color: #010A20;
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  text-align: center;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  padding-top: 177px;
}
.background_7 .px_18 {
  width: 511px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: center;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  text-align: center;
  margin: auto;
  padding: 41px 0 70px 0;
}
.background_7 .grid_con {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 229px;
}
.background_7 .px_24 {
  width: 214px;
}

.background_8 {
  background-color: #DCE8F2;
}
.background_8 .px_60 {
  font-size: 60px;
  font-weight: 700;
  line-height: 90px;
  text-align: left;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #010A20;
  padding-top: 130px;
}
.background_8 .px_26 {
  padding: 28px 0 30px 0;
  color: #010A20;
  font-size: 26.41px;
  font-weight: 700;
  line-height: 41.08px;
  margin-left: 50px;
}
.background_8 .px_24 {
  color: rgba(21, 20, 57, 0.4);
  width: 1000px;
  font-size: 23.47px;
  font-weight: 400;
  line-height: 38.15px;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  margin-left: 50px;
}
.background_8 .Video {
  display: flex;
  align-items: center;
  gap: 45px;
  padding-top: 95px;
  margin-left: 50px;
}
.background_8 .start {
  padding: 15px 40px;
  border-radius: 70px;
  background-color: #DD2242;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 100px;
  border: none;
}
.background_8{
  position: relative;
}
.background_8 .backtotop{
  position: absolute;
        right: 0;
        bottom: 0;
        box-shadow: 0px 7px 10px 0px #00000033;
background-color: #DD2242;
border-radius: 50%;
border: 1px solid #DD2242;
right: 50px;
bottom: -20px;
padding: 39px 33px;
}


.background_9 {
  background: #010A20;
  
}
.background_9 footer {
  padding-top: 50px;
  padding-bottom: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 500px;
}
.background_9 footer .icons img {
  background-color: wheat;
}
.background_9 footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.background_9 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.logo_2{
  display: flex;
  align-items: center;
  gap: 100px;
}

.footer_ul li
{
  list-style: none;
text-decoration: none;
}
.footer_ul li a{
text-decoration: none;
color: #E0E0E0;
}
footer .icons{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center
}

@media (max-width: 1670px) {
  .beach {
    height: 240px;
  }
}
@media (max-width: 1630px) {
  .days {
    right: 0;
  }
  .beach {
    right: -90px;
    width: 360px;
  }
  .background .footer_head {
    gap: 40px;
  }
}
@media (max-width: 1530px) {
  .background_9 footer {
    gap: 200px;
  }
}
@media (max-width: 1470px) {
  .background header {
    gap: 300px;
  }
  .background header .days {
    right: 0;
  }
  .background .footer_head {
    padding-right: 300px;
  }
}
@media (max-width: 1440px) {
  .background_3 .article {
    gap: 30px;
  }
  .background_3 .nature img {
    width: 350px;
  }
}
@media (max-width: 1310px) {
  .bozor {
    width: 800px;
    margin-left: 200px;
  }
  .container .section h1, .start {
    margin-left: 200px;
  }
  .container header {
    gap: 70px;
  }
  .container .days {
    left: 0;
  }
  .background_2 .road, .walkways {
    width: 460px;
  }
  .background .footer_head {
    padding-right: 90px;
    padding-left: 20px;
  }
  .background .footer_head .one {
    width: 160px;
    padding-right: 0;
    margin-right: 0;
  }
  .background_2 .plyaj {
    width: 470px;
  }
  .grid {
    width: 900px;
  }
  .background_8 .getting {
    margin-left: 100px;
  }
}
@media (max-width: 1220px) {
  .background .footer_head {
    margin-right: 170px;
  }
  .background .footer_head .one {
    padding: 40px 0;
    margin: 0 0;
  }
  .background_6 .countr_cit {
    flex-direction: column;
    width: 100%;
  }
  .background_6 p {
    width: 340px;
  }
  .background_7 .gallery {
    text-align: center;
    margin: auto;
  }
  .background_3 .nature img {
    width: 280px;
  }
}
@media (max-width: 1160px) {
  .background_9 footer {
    gap: 60px;
  }
  .background_8 .px_24 {
    width: 780px;
  }
  .background_4 .visits {
    flex-direction: column;
    padding-bottom: 49px;
  }
  .background_4 .text {
    width: 70%;
  }
  .background_5 {
    margin-top: 400px;
  }
}
@media (max-width: 1100px) {
  .background_2 .road {
    width: 370px;
  }
  .background_2 button {
    text-align: left;
    margin: auto;
  }
  .background_2 .section {
    gap: 40px;
  }
  .background_2 p {
    width: 80%;
  }
  .background_3 .nature img {
    width: 250px;
  }
}
@media (max-width: 1050px) {
  .background_6 .px_42 {
    width: 780px;
  }
  .background_6 .bozor {
    width: 700px;
    margin-left: 90px;
    text-align: center;
  }
  .background .footer_head {
    flex-direction: column;
    padding: 50px 0;
    margin: 50px 0;
    gap: 0;
  }
}
@media (max-width: 1010px) {
  .background_9 footer {
    flex-direction: column;
  }
  .background_7 .grid {
    width: 80%;
  }
}
@media (max-width: 1010px) {
  .background_2 .section {
    flex-direction: column;
    text-align: center;
    margin: auto;
  }
  .background header .indonesia {
    width: 120px;
  }
  .background header a {
    font-size: 10px;
  }
  .background header {
    gap: 20px;
  }
}
@media (max-width: 900px) {
  .background_3 .nature img:nth-child(odd) {
    display: none;
  }
  .background_3 .nature img:nth-child(2) {
    width: 80%;
  }
  .background header {
    flex-direction: column;
    gap: 10px;
  }
  .background header ul {
    gap: 19px;
  }
  .background h1 {
    font-size: 80px;
  }
  .background_8 .Video {
    flex-direction: column;
    margin-right: 50px;
  }
  .background_8 .px_60 {
    font-size: 40px;
  }
  .background_8 .px_24 {
    width: 70%;
  }
}
@media (max-width: 883px) {
  .background .footer_head {
    padding-bottom: 250px;
  }
  .background .beach {
    right: 200px;
  }
}
@media (max-width: 843px) {
  .background_6 .px_42 {
    width: 500px;
  }
  .background_6 .bozor {
    width: 500px;
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  .background header {
    flex-direction: row;
    gap: 130px;
  }
  .background ul {
    display: none;
  }
  .background h1 {
    margin: auto;
    text-align: center;
  }
  .background header .indonesia {
    width: 148px;
  }
  .background .container .section h1 {
    font-size: 58px;
    width: 314px;
    margin-left: 80px;
    margin-top: 50px;
    line-height: 60px;
  }
  .background .start {
    margin-left: 90px;
  }
  .background .beach {
    right: 60px;
  }
  .background .days {
    display: none;
  }
  .background_2 .walkways {
    text-align: center;
    margin: auto;
    margin-left: 65px;
  }
  .background_2 button {
    margin-right: 90px;
  }
  .background_2 .walkways {
    width: 314px;
  }
  .background_3 .explore {
    width: 314px;
    margin: auto;
  }
  .background_3 .article {
    gap: 0px;
    gap: 1px;
  }
  .background_3 .nature img {
    width: 300px;
  }
  .background_4 p, .background_4 .dolor {
    width: 314px;
    margin: auto;
  }
  .background_5 .our {
    width: 314px;
    margin: auto;
  }
  .background_5 .px_18 {
    width: 314px;
    margin: auto;
  }
  .background_5 .hills {
    margin: auto;
    margin-right: 150px;
    margin-left: 0;
  }
  .background_5 .hills p {
    margin-right: 180px;
  }
  .background_5 .hills button {
    margin-right: 130px;
    margin-left: 0;
  }
  .background_5 .hills {
    width: 314px;
    margin-left: 50px;
  }
  .background_5 .hills button {
    margin-right: 0;
  }
  .background_6 .px_42 {
    width: 314px;
    font-size: 40px;
  }
  .background_6 .bozor {
    width: 75%;
  }
  .background_6 .country {
    flex-direction: column;
  }
  .background_6 .country img {
    width: 75%;
  }
  .background_6 .country .cocos, .background_6 .country .city {
    width: 314px;
  }
  .background_6 .country .cocos {
    width: 75%;
    margin-left: 0;
  }
  .background_7 .px_18 {
    width: 314px;
  }
  .background_9 footer ul, .background_9 footer .logo {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */